a.card,
a.card:hover {
  color: inherit;
  text-decoration: none;
}
chart{ display: block }
.modal-footer {
  display: block;
}
.modal-header {
  display: block;
}
.imgContainer {
  border-radius: 5px;
}

@media (min-width: 1200px){
  .imgContainer img{
    max-height: 13vmin;
    object-fit: cover;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .imgContainer img{
    max-height: 7vmin;
    object-fit: cover;
  }
}
@media (max-width: 992px){
  .imgContainer img{
    max-height: 40vmin;
    object-fit: cover;
  }
}
